
  <div style="float:left;">
    <%= link_to 'New Job', users_job_path, {:class=>"btn btn-success btn-large"} %>
  </div>
  <div style="float:right;">
    <table>
    <% @requests.each do |request| %>
      <div style="font-weight:bold;">My Current Requests</div>
      <tr>
        <td><%= request.item %></td>
        <td><%= link_to 'View', edit_request_path(request), :class =>"btn btn-primary" %></td>
        <td><%= link_to 'Delete', request, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
      </tr>
    <% end %>
    </table>

    <%= link_to 'New Request', new_request_path, {:class=>"btn btn-success btn-large"} %>
  </div>
