<% if @request.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

    <ul>
    <% @request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="actions">
  <%= form_for @request do |f| %>

    <div class="control-group">
      <%= f.label :item, "What do you want delivered?", {:class=>'control-label'}%>
      <div class="controls">
        <%= f.text_field :item %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :target, "Where do you want it from?", {:class=>'control-label'} %>
      <div class="controls">
        <%= f.text_field :target %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :location, "Where do you want it delivered?", {:class=>'control-label'} %>
      <div class="controls">
        <%= f.text_field :location %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :fee, "How much are you willing to tip?", {:class=>'control-label'} %>

      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= f.text_field :fee, {:class=>'span2', :placeholder=>'00.00'} %>
        </div>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :time_min, "When is the earliest you're willing to receive your delivery?", {:class=>'control-label'} %>

      <div class="controls controls-row">
        <div class="input-append">
          <%= f.text_field :time_min_date, {:class => 'span2', :placeholder => 'yyyy-mm-dd'} %>
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>

        <div class="input-append">
          <%= f.text_field :time_min_hhmm, {:class => 'span2', :placeholder => 'hh:mm'} %>
          <span class="add-on"><i class="icon-time"></i></span>
        </div>

        <%= f.hidden_field :time_min%>
      </div>


    </div>

    <div class="control-group">
      <%= f.label :time_max, "When is the latest you're willing to receive your delivery?", {:class=>'control-label'} %>

      <div class="control controls-rows">

        <div class="input-append">
          <%= f.text_field :time_max_date, {:class => 'span2', :placeholder => 'yyyy-mm-dd'} %>
          <span class="add-on"><i class="icon-calendar"></i></span>
        </div>

        <div class="input-append">
          <%= f.text_field :time_max_hhmm, {:class => 'span2', :placeholder => 'hh:mm'} %>
          <span class="add-on"><i class="icon-time"></i></span>
        </div>

        <%= f.hidden_field :time_max%>

      </div>
    </div>


    <%= f.submit submit_name, :class => "btn btn-primary btn-large" %>
  <% end %>
</div>
