<!DOCTYPE html>
<html>
	<head>
	  <title>GetGrub</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>

	<div class="container well well-large" style="margin-top: 60px">
		<%= yield %>
	</div>
	</body>
</html>
